p {
  margin-bottom: 1rem;
}

.product-grid {
  column-width: 400px;
}

.read-more {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.6), #fff);
}

.description {
  position: relative;
}

.description:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 90%
  );
  pointer-events: none;
}

/* ProductDetail */

.product-title {
  text-transform: uppercase;
}
